.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: var(--hex-blue);
  padding: 10px 30px;
  border-radius: 5px;
}
.btn:hover {
  transform: scale(0.98);
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

/* background and coloured buttons */
.btn-primary,
.bg-primary {
  background-color: var(--hex-blue);
  color: #fff;
}
.btn-seconday,
.bg-seconday {
  background-color: var(--seconday-color);
  color: #fff;
}
.btn-dark,
.bg-dark {
  background-color: var(--dark-blue);
  color: #fff;
}
.btn-light,
.bg-light {
  background-color: var(--light-color);
  color: #333;
}

.btn-primary a,
.bg-primary a,
.btn-seconday a,
.bg-secondary a,
.btn-dark a,
.bg-dark a {
  color: #fff;
}

/* text and sizes */
.lead {
  font-size: 20px;
}
.sm {
  font-size: 1rem;
}

.medium {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* texts */
.text-primary {
  color: var(--hex-blue);
}
.text-secondary {
  color: var(--seconday-color);
}
.text-light {
  color: var(--light-color);
}
.text-dark {
  color: var(--dark-blue);
}

/* alert */
.alert {
  background: var(--light-color);
  padding: 10px 20px;
  font-weight: bold;
  margin: 15px 0;
}

.alert i {
  margin: 0 10px 0 0;
}

.alert-success {
  background-color: var(--success);
  color: #fff;
}

.error {
  background-color: var(--error);
  color: #333;
}
/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 3rem 0;
}
.my-5 {
  margin: 4rem 0;
}
/* all the way around */
.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}
.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 3rem;
}
.m-5 {
  margin: 4rem;
}

/* padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}
.py-3 {
  padding: 2rem 0;
}
.py-4 {
  padding: 3rem 0;
}
.py-5 {
  padding: 4rem 0;
}
/* all the way around */
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}
.p-3 {
  padding: 2rem;
}
.p-4 {
  padding: 3rem;
}
.p-5 {
  padding: 4rem;
}
